:root{
    font-family: arial;
    color-scheme: light dark;
    --dark: #192121;
    --light: beige;
    --fun: radial-gradient(circle at center, #00ff4b, purple, red);
    --fg: light-dark(var(--dark), var(--light));
    --bg: light-dark(var(--light), var(--dark));
    --text: light-dark(var(--dark), var(--light));
    color: var(--fg);
    background-color: var(--bg);
    background-size: 150% 150%;
}

:root:has(option[id="theme-system"]:checked){
    color-scheme: light dark;
}
:root:has(option[id="theme-light"]:checked){
    color-scheme: light;
}
:root:has(option[id="theme-dark"]:checked){
    color-scheme: dark;
}
:root:has(option[id="theme-fun"]:checked){
    background-image: var(--fun);
    background-size: auto;
    height: 100vh;
}

div.container{
    text-align: center;
    vertical-align: center;
}

.center{
    justify-content: center;
    display: flex;
}

.btn{
    backdrop-filter: blur(10px);
    border: 1px solid hotpink;
    background-color: rgba(101, 101, 101, 0.26);
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {opacity: 1; border-radius: 24px; background-color: hotpink; color: black; font-weight: bolder; scale: 125%;}
.btn:active{scale: 90%}

.drop{
    background-color: hotpink;
    border: none;
    color: beige;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    border-radius: 4px;
    cursor: pointer;
}

.drop:hover{opacity: 1; border-radius: 24px;}

.bottom-corner {
    position:fixed;
    bottom: 0px;
    right: 0px;
}

.img:hover{filter: invert(1);}

.logo{
    background-image: url("https://github.com/DrayOdev/Random-Python-stuff/blob/main/HTML/PFP-modified.png?raw=true");
    background-size: 230px 230px;
    background-repeat: no-repeat;
    background-position: center center;
    padding-left: 230px;
    cursor: pointer;
    align-content: center;
    height: 230px;
    width: 230px;
    border-radius: 50%;
    horiz-align: center;
    vertical-align: center;
    border: none;
    outline: none;
    transition: 0.3s;
}
.logo:hover{scale: 110%}
.logo:active{scale: 90%}

.center-base{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: end;
}

.twitter{
    background-image: url("https://github.com/DrayOdev/Random-Python-stuff/blob/main/Twitter_logo.png?raw=true");
    background-size: 46px 38px;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    height: 52px;
    width: 44px;
    horiz-align: center;
    vertical-align: center;
    border: none;
    outline: none;
    transition: 0.3s;
    background-color: transparent;
}

.twitter:hover{scale: 110%}

.godot{
    background-image: url("https://github.com/DrayOdev/Random-Python-stuff/blob/main/Godot_full_logo.png?raw=true");
    scale: 100%;
    background-size: 336px 196px;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    height: 150px;
    width: 350px;
    horiz-align: center;
    vertical-align: center;
    border: none;
    outline: none;
    transition: 0.3s;
    background-color: transparent;
}

.godot:hover{scale: 115%}